body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 50px;
    text-align: center;
    margin: 50px;

}

.block1{
    background-color: #5151d3;
    color: white;
    height: 40vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.block2{
    height: 40vh;
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
}
.block2 div{
    background-color: rgba(3, 3, 99, 0.7);
    color: #a38f8f;
    width: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.block3{
    background-color: #5151d3;
    color: white;
    height: 80vh;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}